# git+https://github.com/supervisely/supervisely.git@some-test-branch
git+https://github.com/supervisely/supervisely.git@upgrade-figure-api

jsonschema
networkx
scikit-image>=0.17.1, <1.0.0
cacheout
markdown
json2html
moviepy