# git+https://github.com/supervisely/supervisely.git@optimize-index
git+https://github.com/supervisely/supervisely.git@update-libs
# supervisely==6.73.203
jsonschema==4.19.2
networkx==3.1
scikit-image==0.21.0
cacheout==0.14.1
markdown==3.5.1
json2html==1.3.0
moviepy==1.0.3
imgaug==0.4.0
imagecorruptions==1.1.2

pyyaml==5.4.0
opencv-python==4.6.0.66
scipy==1.8.0
pillow==9.0.1
certifi==2023.7.22
transformers==4.36.0
protobuf==3.19.5
opencv-python-headless==4.8.1.78
fonttools==4.43.0