/* Header */

.extended-app-header button.el-button:hover {
    border-color: #909dac !important;
}

.sly-sidebar-widget .sidebar-panel .container {
    padding-top: 0 !important;
}

.sly-sidebar-widget .sidebar-panel .input-label .title-wrapper {
    display: none;
}

.sly-sidebar-widget .sidebar-panel .input-label .el-input__inner {
    background: #fcfcfc;
    border-color: #d6dce3;
}

.sly-sidebar-widget>.split .split-panel .split-panel-close {
    background: white;
}

/* Right Sidebar */

.sly-nodes-flow-widget .sidebar.\--open {
    box-shadow: 0px 5px 10px #00000026;
    border-top: 0;
}

.sly-nodes-flow-widget .sidebar>.d-flex b {
    font-size: 16px;
}

/* Image Preview */

.sly-nodes-flow-widget .node-option .sly-py-labeled-image {
    margin-top: -12px;
}

.sly-nodes-flow-widget.white .node-editor .node .__options .node-option .sly-py-labeled-image span {
    font-size: 13px !important;
}