.py-layer-card-widget {
    display: flex;
    border: 1px solid;
    align-items: center;
    justify-content: space-between;
    border-color: #d6dce3;
    border-radius: 8px;
    margin: 4px 0;
    cursor: grab;
}

.py-layer-card-widget:hover {
    border-color: #20a0ff;
}

.py-layer-card-widget .el-button.el-button--text {
    padding: '10px';
    color: black;
    padding: 10px;
}

.py-layer-card-widget .el-button.el-button--text:hover {
    color: #20a0ff;
}

.py-layer-card-widget-help-highlight .el-button.el-button--text {
    padding: 10px;
    margin-left: -5px;
    color: #95a0ad;
}

.py-layer-card-widget-help-highlight,
.py-layer-card-widget .el-button {
    visibility: hidden;
}

.py-layer-card-widget:hover .py-layer-card-widget-help-highlight,
.py-layer-card-widget:hover .el-button {
    visibility: visible;
}

.py-layer-card-widget-help-highlight .el-button.el-button--text:hover {
    color: #20a0ff;
}