<div
	:style="{ flex: '1 1 auto', 'max-width': data.{{{widget.widget_id}}}.maxWidth }"
>
    {% if widget._multiple %}
	<div>
		<el-button
			style="margin-right: 10px"
			type="text"
			{% if widget._checkboxes_handled %}
				@click="{
					state.{{{widget.widget_id}}}.selected = state.{{{widget.widget_id}}}.selected.map(() => true);
					post('/{{{widget.widget_id}}}/checkbox_cb');
				}"
			{% else %}
				@click="state.{{{widget.widget_id}}}.selected = state.{{{widget.widget_id}}}.selected.map(() => true)"
			{% endif %}
		>
			<i class="zmdi zmdi-check-all"></i>
			Select all
		</el-button>
		<el-button
			style="margin-right: 10px"
			type="text"
			{% if widget._checkboxes_handled %}
				@click="{
					state.{{{widget.widget_id}}}.selected = state.{{{widget.widget_id}}}.selected.map(() => false);
					post('/{{{widget.widget_id}}}/checkbox_cb');
				}"
			{% else %}
				@click="state.{{{widget.widget_id}}}.selected = state.{{{widget.widget_id}}}.selected.map(() => false)"
			{% endif %}
		>
			<i class="zmdi zmdi-square-o"></i>
			Deselect all
		</el-button>
	</div>
	{% endif %}
	<div v-for="tag in state.{{{widget.widget_id}}}.tags">
		<div style="display: flex; gap: 10px">
			<el-checkbox
                v-model="state.{{{widget.widget_id}}}.selected[idx]"
                style="margin-right: 10px"
                {% if widget._checkboxes_handled %}
                    {% if not widget._multiple %}
                        @change="() => {
                            if ($event.target.checked) {
                                state.{{{widget.widget_id}}}.selected = state.{{{widget.widget_id}}}.selected.map((_, i) => i == idx);
                            }
                            post('/{{{widget.widget_id}}}/checkbox_cb');
                        }"
                    {% else %}
                        @change="() => {
                            post('/{{{widget.widget_id}}}/checkbox_cb');
                        }"
                    {% endif %}
                {% else %}
                    {% if not widget._multiple %}
                    @change="if ($event.target.checked) {state.{{{widget.widget_id}}}.selected = state.{{{widget.widget_id}}}.selected.map((_, i) => i == idx);}"
                    {% endif %}
                {% endif %}
            >
            </el-checkbox>
			<i class="zmdi zmdi-label" :style="{color: tag.color}"></i>
			<span
				style="padding-bottom: 3px; overflow: hidden; text-overflow: ellipsis"
			>
				<span
					style="align-items: center; height: 100%"
					v-html="tag.name"
				></span>
			</span>
			<span style="padding-bottom: 3px">
				<span
					style="
						display: flex;
						align-items: center;
						height: 100%;
						font-size: 12px;
						color: #8492a6;
						line-height: initial;
					"
					v-html="tag.valueType"
				></span>
			</span>
		</div>
	</div>
</div>
