<link rel="stylesheet" href="./static/css/color-picker-compact.css" />

<div v-show="data.{{{widget.widget_id}}}.classes.length == 0">
	{{{widget.empty_notification}}}
</div>
<div v-show="data.{{{widget.widget_id}}}.classes.length != 0">
	<link
		rel="stylesheet"
		href="./sly/css/app/widgets/object_class_view/style.css"
	/>
	<table>
		<tr>
			<th style="padding: 3px">
				<!-- <el-checkbox
					:value="state.{{{widget.widget_id}}}.classes_values.every(v => v.selected)"
					@change="state.{{{widget.widget_id}}}.classes_values.forEach(v => v.selected = $event)"
				>
				</el-checkbox> -->
			</th>
			<th style="padding: 3px 20px">Class</th>
			<th style="padding: 3px 20px">New Color</th>
		</tr>
		<tr v-for="(obj_class, idx) in data.{{{widget.widget_id}}}.classes">
			<td>
				<el-checkbox
					v-model="state.{{{widget.widget_id}}}.classes_values[idx].selected"
				>
				</el-checkbox>
			</td>
			<td
				class="icon-text-line"
				style="display: table-cell; vertical-align: middle; padding: 3px 20px"
			>
				<i
					class="zmdi zmdi-circle"
					style="margin-right: 5px"
					:style="{color: obj_class.color}"
				></i>
				<b style="font-size: 16">{{obj_class.title}}</b>
				<span
					style="
						margin-left: 5px;
						font-size: 12px;
						color: #8492a6;
						line-height: initial;
					"
				>
					{{obj_class.shape_text}}
				</span>
			</td>
			<td
				style="display: table-cell; vertical-align: middle; padding: 3px 30px"
			>
				<div class="color-picker-compact">
					<el-color-picker
						v-model="state.{{{widget.widget_id}}}.classes_values[idx].value"
						:disabled="!state.{{{widget.widget_id}}}.classes_values[idx].selected"
					>
					</el-color-picker>
				</div>
			</td>
		</tr>
	</table>
</div>
